.MenuLayout {
  background-color: transparent;
  color: white;
  border-bottom: none;
  font-weight: bold;
  width: 90%;
  display: flex;
  justify-content: center;
}
.MenuLayout:hover {
  color: white;
  font-weight: 700 !important;
}

